*{
	all: unset;
	font-family: "Victor Mono Nerd Font";
	color: #FFECC0;
    background: #292929
}
.time {
	font-family: "Victor Mono Nerd Font";
    font-size: 48;
	color: #FFECC0;
    background: #292929
}
.date {
	font-family: "Victor Mono Nerd Font";
    font-size: 16;
	color: #FFECC0;
    background: #292929
}
