.whole{
	all: unset;
	font-family: "Victor Mono Nerd Font";
	color: #FFECC0;
    background: #292929;
    border-radius: 25px;
    border: solid 1px #FFECC0;
    padding: 10px 10px;
}
*{
	all: unset;
	font-family: "Victor Mono Nerd Font";
	color: #FFECC0;
    background: transparent;
}
.time {
	font-family: "Victor Mono Nerd Font";
	font-weight: bold;
	font-style: italic;
    font-size: 48;
    background: #292929;
    border: solid 0px #FFECC0;
}
.date {
	font-family: "Victor Mono Nerd Font";
	font-weight: bold;
	font-style: italic;
    font-size: 16;
    background: #292929
}
.cpu_sensors {
	font-family: "Victor Mono Nerd Font";
	font-weight: bold;
	font-style: italic;
    font-size: 13;
    background: #292929
}
.gpu_sensors {
	font-family: "Victor Mono Nerd Font";
	font-weight: bold;
	font-style: italic;
    font-size: 13;
    background: #292929
}
.mem_bar {
	font-family: "Victor Mono Nerd Font";
    font-size: 12;
    background: #292929
}
.separator {
	font-family: "Victor Mono Nerd Font";
    font-size: 12;
	color: #B8BB26;
    background: #292929
}
